body{
    background: #dfdfdf:
}

p{
  color:rgb(34,34,34);
}

.foto{
  width: 200px;
  border: 2px solid #cf0e0e;; /*shorthand*/
  border-radius: 50%; /*para deixar a foto redonda*/
  margin: 30px;
  


  

}

